.idea/**
/target/**
target/**
src/main/java/com/auctus/core/Main.java
src/main/java/com/auctus/services/**
src/main/java/com/auctus/services
src/main/java/com/auctus/strategies
src/main/java/com/auctus/strategies/**
